{% extends 'base.html.twig' %}
{% block title %}Mon panier
{% endblock %}
{% block body %}

	{% if items | length > 0 %}
		<table class="table">
			<thead>
				<tr>
					<th>Produit</th>
					<th>Prix</th>
					<th>Quantité</th>
					<th>Total</th>

				</tr>
			</thead>
			<tbody>
				{% for item in items %}
					<tr>
						<td>{{item.product.nom}}</td>
						<td>{{item.product.prix}}€</td>
						<td>{{item.quantity}}</td>
						<td>{{item.product.prix * item.quantity}}€</td>
						<td>
							<a href="{{path('cart_remove',{'id':item.product.id})}}" class="btn btn-danger btn-sm">
								<i class="fa-solid fa-trash"></i>
							</a>
						</td>
						<td>
							<a href="{{path('cart_add',{'id':item.product.id})}}" class="btn btn-primary btn-sm">
								<i class="fa-solid fa-cart-plus"></i>
							</a>
						</td>

						<td>
							<a href="{{path('cart_remove_one',{'id':item.product.id})}}" class="btn btn-primary btn-sm">
								<i class="fa-solid fa-minus"></i>
							</a>
						</td>
					</tr>
				{% endfor %}
			</tbody>
			<tfoot>

				<tr>
					<td colspan='3' class="text-right">Total:</td>
					<td>{{total}}€</td>
				</tr>
				<tr>
					<td>
						<a href="" class="btn btn-success">Vider le panier</a>
					</td>
				</tr>
			</tfoot>
		</table>
	{% else %}
		<p>Votre panier est vide</p>
	{% endif %}

{% endblock %}
