{% extends 'base.html.twig' %}
{% block title %}
  {{ product.nom }}
{% endblock %}

{% block body %}
  <section class="row articles my-3">
    <div style="width:50%;">
      {% if product.image != null %}
        <img class="mx-auto my-3 d-block"
          style="object-fit: cover;width: 50%;height: 75%;"
          src="{{ asset('images/produits/' ~ product.image) }}"
          alt="Image du produit" />
      {% else %}
        <img class="mx-auto my-3 d-block"
          style="object-fit: cover;width: 50%;height: 75%;"
          src="https://picsum.photos/250?image=9"
          alt="Image du produit" />
      {% endif %}
    </div>
    <div class="text-center" style="width:50%;">
      <h1>
        {{ product.nom }}
      </h1>
      <p>
        {{ product.description }}
      </p>
      {# {{ form_start(formPanier) }} #}
     <a href="{{path('cart_add',{id: product.id})}}"> <button type="submit" class="btn btn-primary w-75">
        Ajouter au panier
      </button></a>
      {# {{ form_end(formPanier) }} #}
    </div>
    {% if app.user %}
      {{ form_start(formCommentaire) }}
      <div class="form-row col-form-label mx-auto">
        {{
          form_row(
            formCommentaire.contenu,
            {
              label: 'Laisser un commentaire',
              attr: {
                placeholder: 'Votre Commentaire'
              }
            }
          )
        }}
      </div>
      <button type="submit" class="btn btn-dark">Ajouter Commentaire</button>
      {{ form_end(formCommentaire) }}
    {% endif %}
    {% for comment in Commentaires %}
      <div class="comment_container mt-4 border p-3">
        <div style="display:flex">
          <h5 style="margin-right: 0.5rem;">
            {{ comment.user.username }}
          </h5>

          <p>
            le
            {{ comment.createdAt|date('d/m/Y à H:i:s') }}
          </p>
        </div>
        <p>
          {{ comment.contenu }}
        </p>
      </div>
    {% endfor %}
  </section>
{% endblock %}
