{% extends 'base.html.twig' %}

{% block title %}
  Les produits
{% endblock %}

{% block body %}
{{ form_start(formRecherche) }}

{{ form_widget(formRecherche.Search, {
  attr: {
    placeholder: "Rechercher un article"
  }
}) }}

<button type="submit" class="btn btn-primary mt-2">Rechercher</button>

{{ form_end(formRecherche) }}
  <section class="row products">
    {% for product in products %}
      <div class="col-md-3">
        <div class="card mb-4 border-0" style="width: 18rem;">
          {% if product.image != null %}
            <img class="mx-auto my-3 d-block"
              src="{{ asset('images/produits/' ~ product.image) }}"
              alt="Image du produit"
              style="width: 50%;height: 50%;" />
          {% else %}
            <img class="mx-auto my-3 d-block"
              style="object-fit: cover;width: 50%;height: 50%;"
              src="https://picsum.photos/250?image=9"
              alt="Image du produit" />
          {% endif %}
          <div class="card-body">
            <p class="font-weight-lighter">
              {{ product.nom }}
            </p>
            <p class="card-text">
              {{ product.prix }}
              €
            </p>
          </div>
          <div class="text-center">
            <a href="{{
              path(
                'product',
                {
                  id: product.id
                }
              )
              }}"
              class="btn btn-primary btn-sm my-3">
              Voir le produit
            </a>
          </div>
        </div>
      </div>
    {% endfor %}
  </section>
{% endblock %}
