{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}
<h1>Création d'un article<h1>
{{ form_start(userForm) }}



{{ form_row(userForm.email,{
    label: "Titre",
    attr: {
        placeholder: "Titre de l'article"
    }
})}}
{{ form_row(userForm.username)}}
{{ form_row(userForm.password)}}

<button type="submit" class="btn btn-primary mt-2">Enregistrer</button>
{{ form_end(userForm) }}
{% endblock %}
